pandas==2.2.3
numpy==2.0.1
statsmodels==0.14.4
pykalman==0.9.7
matplotlib==3.10.0
scipy==1.15.2
shap==0.47.2
xgboost==3.0.0
lightgbm==4.4.0
tensorflow==2.19.0
scikit-learn==1.6.1
bayesian-optimization==2.0.4
